In [1]:
print('Hi')

Hi

## jupyter nbconvert --to script MyTest1.ipynb

- George Washington
    - aaa
    - bbb
    
$$ \frac{1}{3}=0.3333333 $$
and
$$ \sqrt{\frac{1}{16} }= \frac{1}{4} $$

$$\int_0^{infty} x \. dx $$

In [2]:
x=3
y=5
z=x+y

In [3]:
print('solve:',x, 'plus',y)

solve: 3 plus 5

In [5]:
print('{1} plus {0} equals {2}' .format(x,y,z))

5 plus 3 equals 8

## Vector

In [7]:
a = [1,2,5,7]
a

[1, 2, 5, 7]

In [9]:
b = ['first','second','third']
b

['first', 'second', 'third']

In [10]:
a+a

[1, 2, 5, 7, 1, 2, 5, 7]

In [12]:
c=a+b

In [15]:
print('output #3 : {}, {}, {}' .format(a,b,c))

output #3 : [1, 2, 5, 7], ['first', 'second', 'third'], [1, 2, 5, 7, 'first', 'second', 'third']

In [16]:
e = 'abc'

In [17]:
e[0]

'a'

In [18]:
e[2]

'c'

In [19]:
e=['abc']

In [21]:
e[0][1]

'b'

## IF

In [22]:
a = 10
c=5

In [23]:
if a<c :
    print('c is bigger')
    print('a is smaller')
else :
    print('a is bigger')
    print('c is smaller')

a is bigger
c is smaller

## function

In [1]:
def add_two_num(x,y) :
    t = x+y
    return(t)

In [2]:
add_two_num(2,5)

7

In [4]:
print('{} + {} = {}' .format(1,2,add_two_num(1,2)))

1 + 2 = 3

# list [], tuple (), dict {}

## list

In [5]:
list1 = [5,4,7,3,4]
list1

[5, 4, 7, 3, 4]

In [7]:
list1 + [3]

[5, 4, 7, 3, 4, 3]

In [8]:
list1

[5, 4, 7, 3, 4]

In [11]:
list1.append(3) #append를 해야만 추가됨
list1

[5, 4, 7, 3, 4, 3, 3, 3]

In [15]:
list2 = [5,6,9,7,2,16,9]
list2 + list2

[5, 6, 9, 7, 2, 16, 9, 5, 6, 9, 7, 2, 16, 9]

In [13]:
ownership = 5,10 in list2
ownership

(5, False)

In [17]:
list2.remove(9) #앞에 있는 9가 사라짐
list2

[5, 6, 7, 2, 16]

In [19]:
a = range(1,11)

In [20]:
a[3]

4

In [21]:
a = range(1,30,2)
a[6]

13

In [22]:
a = list(range(1,30,2))
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

## dictionary
- dict : keys, values, items

In [23]:
mydict = {"DarthVader" : 'Father', 'LUke' : 'Son', "leia" : 'Daughter'}
mydict

{'DarthVader': 'Father', 'LUke': 'Son', 'leia': 'Daughter'}

In [24]:
mydict['leia'] = 'princess'
mydict['leia']

'princess'

In [25]:
type(mydict)

dict

In [26]:
print(mydict.keys())

dict_keys(['DarthVader', 'LUke', 'leia'])

In [27]:
print(mydict.values())

dict_values(['Father', 'Son', 'princess'])

In [28]:
print(mydict.items())

dict_items([('DarthVader', 'Father'), ('LUke', 'Son'), ('leia', 'princess')])

In [31]:
for a in mydict.keys() :
    print(a)

DarthVader
LUke
leia

In [34]:
for a in mydict.values() :
    print(a)

Father
Son
princess

In [36]:
for myk, myv in mydict.items() :
    print("{} is {}" .format(myk, myv))

DarthVader is Father
LUke is Son
leia is princess

In [37]:
a,b = 3,5

In [38]:
a,b = b,a

In [39]:
print(a,b)

5 3

In [40]:
mydict2 = {"Chewy" : "Monster", "Leia" : "Daughter"}
mydict2

{'Chewy': 'Monster', 'Leia': 'Daughter'}

In [41]:
mydict.update(mydict2)

In [42]:
mydict

{'DarthVader': 'Father',
 'LUke': 'Son',
 'leia': 'princess',
 'Chewy': 'Monster',
 'Leia': 'Daughter'}

## tuple

In [44]:
mytuple = (1,2,3)
mytuple[0]

1

In [45]:
mytuple[0] = 10 #바꿀 수 없음

TypeError: 'tuple' object does not support item assignment

In [46]:
type(mytuple)

tuple

In [47]:
mytuple2 = 1,2,3

In [48]:
type(mytuple2)

tuple

In [49]:
a,b,c = 1,2,3

In [50]:
type(a) #개개인은 integer

int

In [52]:
tuple(list1) #list -> tuple

(5, 4, 7, 3, 4, 3, 3, 3)

- packing and unpacking

In [53]:
a,b = 1,2

In [54]:
c=a,b #packing

In [55]:
c

(1, 2)

In [59]:
type(c)

tuple

In [56]:
a1, a2 = c #unpacking

In [57]:
a1

1

In [58]:
a2

2

## enumerate

In [60]:
myname = {'Ahn', 'Han', 'Nah'}

In [61]:
for i, myn in enumerate(myname) :
    print('{} is in number {}'. format(myn, i))

Ahn is in number 0
Han is in number 1
Nah is in number 2

## while

In [63]:
s =1
while s<10 :
    
    s=s+1
    if s==5 :
        continue #5 생략
    
    print(s)

2
3
4
6
7
8
9
10

In [65]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [66]:
list2 = list1

In [68]:
list2[0] = 100
list2

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [69]:
list1 #list2를 바꿔도 list1도 바뀜

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [70]:
list3 = list1[:]
list3

[100, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [71]:
list3[1] = 200
list3

[100, 200, 2, 3, 4, 5, 6, 7, 8, 9]

In [81]:
list1 #안 바뀜

[0, 7, 8, 9]

In [83]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [77]:
list1[0:11:3]

[0, 3, 6, 9]

In [84]:
list1[0:4] = [0]
list1

[0, 4, 5, 6, 7, 8, 9]

In [85]:
list1 = list(range(10))
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [90]:
list1[:6]+[100]+list1[6:]

[0, 1, 2, 3, 4, 5, 100, 6, 7, 8, 9]

In [92]:
list1[4:5] = 5,100
list1

[0, 1, 2, 3, 5, 100, 100, 5, 6, 7, 8, 9]

## instance

In [93]:
s = 'hello'
a = [1,2,3]
b = 3

In [94]:
print(type(s), type(a), type(b))

<class 'str'> <class 'list'> <class 'int'>

In [95]:
print(42 ==42.0)

True

In [97]:
print(isinstance(42,int))
print(isinstance(42.0,int))

True
False

In [99]:
c=b

In [100]:
if b is c:
    print('really?')

really?

In [101]:
a=[1,2,3]
b=[1,2,3]

if a is b:
    print('realy?')

In [102]:
a=b

if a is b :
    print('really?')

really?

In [103]:
class Human() :
    'Nothing'

In [104]:
person1 = Human()

In [105]:
person2 = Human()

In [106]:
type(person1)

__main__.Human

In [107]:
person1

In [108]:
isinstance(person1, Human)

True

In [109]:
person3 = person1

In [110]:
person1 is person2

False

In [111]:
person1 is person3

True

In [112]:
person1.language = 'Korean'

In [113]:
person2.language = 'English'

In [114]:
person1.language

'Korean'

In [115]:
person1.name = 'Luke'

In [116]:
person2.name = 'Ahn'

In [119]:
def speak(person) :
    print('{} speaks {}'.format(person.name, person.language))

In [120]:
speak(person1)

Luke speaks Korean

In [121]:
speak(person2)

Ahn speaks English

In [126]:
#객체를 생성하는 함수
def create_human(name10, language10, weight10) :
    person = Human() #instance 생성
    person.name = name10
    person.language = language10
    person.weight = weight10
    return(person)

In [124]:
person3 = create_human('Chewy','Wooo')

In [125]:
speak(person3)

Chewy speaks Wooo

In [135]:
def eat (person) :
    person.weight = person.weight+2
    return(person.weight)

In [130]:
def walk(person) :
    person.weight = person.weight -1
    return(person.weight)

In [131]:
person1.weight = 50

In [136]:
eat(person1)

54

In [143]:
class Human2() :
    def create(name10, weight10) :
        person = Human2()
        person.name = name10
        person.weight = weight10
        return person
    
    def eat(person10) :
        person10.weight = person10.weight +2
        return person10

In [144]:
person5 = Human2.create('Ahn',100)

In [145]:
Human2.eat(person5)